doctype html
html
    head
    link(rel="stylesheet", href="/stylesheets/style.css")
    body
        div.joinroom
            h1 ログインに成功しました。入室しますか？
            a(href=("/room.html?room_id=" + JOINROOMID))
                h2 入室
            a(href="/")
                h2 トップに戻る
        h1.Toppage-Title
            |WeBrain
            
